* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body {

    background-color: #25221F;
    min-height: 1000px;

    header {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #25221F;
        border-bottom: 2px solid #393938;
        box-shadow: 0 10px 10px #1C1B1A;
    }

    .content {
        display: flex;
        flex-direction: column;

        .project-container {
            max-height: 0;
            background-color: #25221F;
            border-bottom: 2px solid #393938;
            box-shadow: 0 10px 10px #1C1B1A;
            color: #fdb516;
            transition: 0.2s ease-in-out;
            padding: 0 30px;

            .project-input-container {
                display: flex;
                flex-direction: column;
                display: none;

                input {
                    width: 100%;
                    height: 40px;
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 2px solid #393938;
                    padding-left: 5px;
                    color: #929292;
                    font-size: 1rem;
                    margin-bottom: 20px;
                }

                #confirm-btn-project {
                    font-weight: 500;
                    font-size: 1rem;
                    width: 48%; 
                    height: 40px;
                    border-radius: 10px;
                    background-color: #fdb516;
                    border: none;
                    color: #25221F;
                }

                #cancel-btn-project {
                    width: 48%; 
                    font-size: 1rem;
                    font-weight: 500;
                    height: 40px;
                    border-radius: 10px;
                    background: none;
                    border: 1px solid #fdb516;
                    color: #fdb516;
                }
            }

            .add-project-button { 
                padding: 20px;
                margin: 10px 0;
                transition: 0.2s ease-in-out;
                opacity: 0;
                max-height: 0;
                transform: scaleY(0);

                .add-project-default-btn {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .project-list-element {
                padding: 20px;
                border: 2px solid #393938;
                margin: 10px 0;
                border-radius: 10px;
                transition: 0.2s ease-in-out;
                opacity: 0;
                max-height: 0;
                transform: scaleY(0);
            }

            .selected {
                background-color: #fdb516;
                color: #25221F;
            }

            p {
                transition: 0.2s ease-in-out;
                opacity: 0;
                transform: scaleY(0);
                max-height: 0;
            } 

            h3 {
                font-size: 1.4rem;
                color: #929292;
                transition: 0.2s ease-in-out;
                opacity: 0;
                transform: scaleY(0);
                max-height: 0;
            }

            h4 {
                transition: 0.2s ease-in-out;
                opacity: 0;
                transform: scaleY(0);
                max-height: 0;
            }

            i {
                transition: 0.2s ease-in-out;
                opacity: 0;
                transform: scaleY(0);
                max-height: 0;
            }

            .project-list-element {
                display: flex;
                justify-content: space-between;
            }

        }

        

        .active {
            max-height: 1000px;
            transition: ease-in-out 0.2s;
            padding: 30px;

            .add-project-button {
                cursor: pointer;
                padding: 20px;
                max-height: 300px;
                border: 2px solid #393938;
                margin: 10px 0;
                border-radius: 10px;
                opacity: 1;
                transform: scaleY(1);
            }

            .logic-project-container {
                margin-bottom: 40px;
            }

            .project-list-element {
                max-height: 300px;
                padding: 20px;
                border: 2px solid #393938;
                margin: 10px 0;
                border-radius: 10px;
                opacity: 1;
                transform: scaleY(1);
            }

            .selected {
                background-color: #fdb516;
                color: #25221F;
            }

            p {
                transition: 0.2s ease-in-out;
                opacity: 1;
                transform: scaleY(1);
                max-height: 50px;
            } 

            h3 {
                transition: 0.2s ease-in-out;
                opacity: 1;
                transform: scaleY(1);
                max-height: 50px;
            }
            
            h4 {
                transition: 0.2s ease-in-out;
                opacity: 1;
                transform: scaleY(1);
                max-height: 50px;
            }

            i {
                transition: 0.2s ease-in-out;
                opacity: 1;
                transform: scaleY(1);
                max-height: 50px;
            }
        }


        .to-do-items-container {
            padding: 30px;

            #project-name-title {
                color: #929292;
                font-size: 2rem;
            }

            .task-input-container {
                display: flex;
                flex-direction: column;
                display: none;

                input {
                    width: 100%;
                    height: 40px;
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 2px solid #393938;
                    padding-left: 5px;
                    color: #929292;
                    font-size: 1rem;
                    margin-bottom: 20px;
                }

                #confirm-btn-task {
                    font-weight: 500;
                    font-size: 1rem;
                    width: 48%; 
                    height: 40px;
                    border-radius: 10px;
                    background-color: #fdb516;
                    border: none;
                    color: #25221F;
                }

                #cancel-btn-task {
                    width: 48%; 
                    font-size: 1rem;
                    font-weight: 500;
                    height: 40px;
                    border-radius: 10px;
                    background: none;
                    border: 1px solid #fdb516;
                    color: #fdb516;
                }

                .radio-box {
                    display: flex;
                }

                .radio {
                    width: auto;
                    height: auto;
                }
            }

            h3 {
                font-size: 1.4rem;
                color: #929292;
            }

            .add-items-button {
                cursor: pointer;
                padding: 20px;
                max-height: 300px;
                border: 2px solid #393938;
                margin: 10px 0;
                border-radius: 10px;
                opacity: 1;
                color: #fdb516;
                transform: scaleY(1);
            }

            .add-items-default-btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .add-items-logic {
                margin-bottom: 40px;
            }
        }
    }


    footer {
        padding: 30px;
        border-top: 2px solid #393938;
        box-shadow: 0 -10px 10px #1C1B1A;
        display: flex;
        justify-content: center;
        color: #929292;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #25221F;

        h4 {
            margin-right: 10px;
        }

        .footer-content {
            display: flex;
        }

        a {
            color: #929292;
        }
    }


}